# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
env/
ENV/

# Django
*.log
media/
staticfiles/

# Environment
.env
.env.local
.env.production

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend build
frontend/build/
frontend/dist/

# IDE
.vscode/
.idea/

# macOS
.DS_Store
