# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Static & media
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

node_modules/

